// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg
$black: #222;
$lightgray: #ccc;
$gray: #999;
$white: #eee;
$dark: #222;
$base-font-size: 16px;
$max-width: 1400px;
$trans: transform 300ms ease-in-out;
