// Sækja config
@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: $base-font-size;
}

a {
  color: $black;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: $black;
  border: 1px solid $black;
  border-radius: 5px;
  color: $white;
  padding: 0.5rem;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
  word-break: initial;
}

button:hover {
  background-color: $white;
  color: $dark;
}

button:active {
  background-color: $dark;
  border: 1px solid $black;
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}
